$client = Google::APIClient.new
$client.authorization.client_id = '...'
$client.authorization.client_secret = '...'
$client.authorization.scope = 'https://www.googleapis.com/auth/calendar'


$calendar = $client.discovered_api('calendar', 'v3')
$calendar_id = "..."


