<div id = "site-title">
  <p> Where's Ben? </p>
</div>

<div id ="container">
  <div id='map-legend'></div>
  <div id="map"></div>
</div>
<script type='text/javascript'>

$(document).ready(function() {
  createLegend();
  createMap(40.70771, -73.940398);
  <%- @events.each do |event| %>
  createEventMarker(<%= raw event.to_json %>);
  <%- end %>
});
</script>

<p> Use Twilio to send text-messages directly to my phone!</p>
<%=form_tag("/sms",method: :post) do%>
<input type="text" name="sender"  placeholder="Name">
<input type="text" name="message" placeholder="Message">
<input type="text" name="number"  placeholder="Phone">
<button>Send</button>
<% end %>

