<div id ="container">
  <div class='row-fluid'>
    Show the week of <input id='date-picker' type="date" />
  </div>
</div>

<script type='text/javascript'>
$(document).ready(function() {
  baseEventsUrl = '<%= events_path format: 'json' %>';
  createLegend();
  initializeMapAndMarkers(baseEventsUrl);
});
</script>

<div class='row-fluid'>
  <div id="map"></div>
  <div id='map-legend'></div>
</div>

<%=form_tag("/sms",method: :post) do%>
<input type="text" name="message">
<button>Send</button>
<% end %>

