
  <div class="row-fluid">
    <div class="lhs span6">
      <%= render partial: "shared/lhs_map"%>

    </div>
    <div class="span6">
      <div id="map"></div>
    </div>
  </div>

<script type='text/javascript'>
$(document).ready(function() {
  baseEventsUrl = '<%= events_path format: 'json' %>';
  createLegend();
  initializeMapAndMarkers(baseEventsUrl);
});
</script>
