<div id ="container">
  <div id='map-legend'></div>
  <div id="map"></div>
</div>
<script type='text/javascript'>

$(document).ready(function() {
  createLegend();
  createMap(40.70771, -73.940398);
  $.get('<%= events_path format: 'json' %>').success(function(data){
    $.each(data, function(){
      createEventMarker(this)
    });
  });
});
</script>

<%=form_tag("/sms",method: :post) do%>
<input type="text" name="message">
<button>Send</button>
<% end %>

