/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html body{
  background-color: #FFBF00;
  font-family: 'Courier New', Courier, monospace;
}

#site-title{
  padding-top: 8px;
  font-weight: bold;
  font: serif;
  font-size: 72px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.lhs{
  padding-left: 7px;
}

#map {
  height: 500px;
  width: 420px;
  border: 10px;
  border-style: groove;
  border-radius: 10px;
  margin-top: 10px;
}

#map-legend ul {
  list-style-type: none;
}

.push-over{
  margin-left: 5px;
}

#map-legend ul li {
  float: left;
  width: 40px;
  font-size: 10pt;
  font-family: "Courier New", Courier, monospace;
}
