<!DOCTYPE html>
<html>
<head>
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIY9iIAZvSyGDWT3v1X4aEDZRmIjGMClE&sensor=true">
    </script>
  <title>WhereIsBen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
